@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.avatar {
  @include flex-center;
  border-radius: 50%;
  background: $color-accent-bg;
  color: $color-accent;
  font-family: $font-display;
  font-weight: $weight-bold;
  overflow: hidden;
  flex-shrink: 0;

  &.sm { width: 32px; height: 32px; font-size: $text-xs; }
  &.md { width: 40px; height: 40px; font-size: $text-sm; }
  &.lg { width: 56px; height: 56px; font-size: $text-lg; }
  &.xl { width: 80px; height: 80px; font-size: $text-2xl; }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.initials {
  line-height: 1;
}
