@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.layout {
  display: flex;
  min-height: 100vh;
  background: $gray-50;
}

.content {
  flex: 1;
  margin-left: $sidebar-width;
  transition: margin-left $transition-slow;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &.collapsed {
    margin-left: $sidebar-collapsed;
  }

  @include mobile {
    margin-left: 0;

    &.collapsed {
      margin-left: 0;
    }
  }
}

.main {
  flex: 1;
  padding: $space-6;

  @include mobile {
    padding: $space-4;
  }
}
